doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Atributos
	body
		nav
			ul
				// Atributos en Línea
				li
					a(href='http://maps.google.com', target="_blank", class="link") Google Maps
				li
					a(href="http://translate.google.com" target="_blank", class="link") Google Translate
				// Atributos Multi Línea
				li
					a(href="http://images.google.com"
					  target="_blank"
					  class="link") Google Images