doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Casos
	body
		h1 Casos
		- var seguidores = 2
		case seguidores
			when 0
			when 1
				p Usted tiene muy pocos seguidores
			when 2
				p Usted tiene #{seguidores} seguidores
			default
				p Usted tiene muchos seguidores
	