doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Comentarios
	body
		// Esto es un comentario visible en HTML
		h1 Comentarios
		//- Este comentario solo de PUG no es visible en HTML

		//- Esto es un comentario de 
			multiples líneas de código
			y no es visible en HTML

		//
			Esto es un comentario de 
			multiples lineas de código
			y es visible en HTML

	