// doctype transitional
// doctype strict
// doctype xml
// doctype html
doctype strict
html(lang="es")
	head
		meta(charset="UTF-8")
		title Tipos de Documento
	body
		h1 Tipos de Documento
		hr
		img(src="imgs/success.png")
		br

	