doctype
html(lang="es")
	include includes/header.pug
	body
		h1 Incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, officia aspernatur repudiandae ea labore modi. Cum unde expedita ullam hic, ut necessitatibus autem, mollitia doloribus incidunt laborum, accusantium a ab.

		include includes/footer.pug